{% extends 'base.html.twig' %}

{% block title %}Wow{% endblock %}

{% block body %}
    <div class="container">
        <h1>Soll ich den Knaller zünden? Ja zünd den Knaller</h1>
        <div class="question">
            <p class="gap">{{text}}</p>
        </div>
        <p>Du bist ein wahrer DÄ Experte</p>
    </div>
{% endblock %}
